testData/customerOrder_V3/src/main/tibcoMigrated/ConcreteOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1628144235184" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.example.com/unique/default/namespace/1134438639123" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1628144235184">
    <wsdl:types>
        <xsd:schema xmlns="http://xmlns.example.com/unique/default/namespace/1134438639123" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/unique/default/namespace/1134438639123">
            <xsd:element name="customer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerid" type="xsd:string"/>
                        <xsd:element name="firstname" type="xsd:string"/>
                        <xsd:element name="lastname" type="xsd:string"/>
                        <xsd:element name="age" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="city" type="xsd:string"/>
                        <xsd:element name="zipcode" type="xsd:string"/>
                        <xsd:element name="transactionstatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="orderService">
        <wsdl:port binding="tns:createOrderEndpoint1Binding" name="createOrderEndpoint1">
            <soap:address location="http://localhost:9090/Service/orderService.serviceagent/createOrderEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="createOrder">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:orderRequest"/>
            <wsdl:output message="tns:orderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="createOrderEndpoint1Binding" type="tns:createOrder">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation soapAction="/Service/orderService.serviceagent/createOrderEndpoint1/Operation" style="document"/>
            <wsdl:input>
                <soap:body parts="order" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="order" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="orderRequest">
        <wsdl:part element="ns0:customer" name="order"/>
    </wsdl:message>
    <wsdl:message name="orderResponse">
        <wsdl:part element="ns0:customer" name="order"/>
    </wsdl:message>
</wsdl:definitions>