testData/customerOrder/src/main/tibcoMigrated/LogError.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="http://xmlns.example.com/unique/default/namespace/1134438639123"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.example.com/unique/default/namespace/1134438639123"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!-- log type -->
	<xs:complexType name="LogType">
		<xs:sequence>
			<xs:element name="logLevel" type="LogLevelType"/>
			<xs:element name="processCtx" type="ProcessContextType"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element ref="ExceptionData" minOccurs="0"/>
			<xs:element ref="TransactionData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessContextType">
		<xs:sequence>
			<xs:element name="processId" type="xs:integer"/>
			<xs:element name="projectName" type="xs:string"/>
			<xs:element ref="ProcessName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LogLevelType">
		<xs:restriction base="xs:int">
			<xs:enumeration id="DEBUG" value="0"/>
			<xs:enumeration id="TRACE" value="1"/>
			<xs:enumeration id="INFO" value="2"/>
			<xs:enumeration id="WARN" value="3"/>
			<xs:enumeration id="ERROR" value="4"/>
			<xs:enumeration id="FATAL" value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ExceptionData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message"/>
				<xs:element ref="StackTrace"/>
				<xs:element ref="ErrorData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message" type="xs:string"/>
	<xs:element name="ProcessName" type="xs:string"/>
	<xs:element name="StackTrace" type="xs:string"/>
	<xs:element name="ErrorData" type="xs:string"/>
	<xs:element name="TransactionData"/>
</xs:schema>