testData/customerOrder/src/main/tibcoMigrated/OrderService.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" name="OrderService">
    <resources base="http://localhost:8085/orderCreateAPI" name="orderCreateAPI">
        <resource id="customers" path="/customerDetails">
            <method name="POST" id="CreateCustomer">
                <request name="Request">
                    <representation mediaType="application/json"/>
                </request>
                <response name="Response">
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <param name="customerid" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="firstname" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="lastname" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="age" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="email" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="city" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="zipcode" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="transactionstatus" style="header" required="false" default="">
                <doc/>
            </param>
        </resource>
    </resources>
</application>